<manifest
    package="yjhtest.basic"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".BaseApp"
        >

        <!--메인 액티비티-->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Glide Module-->
        <meta-data
            android:name="yjhtest.basic.util.image.GlideModuleYJH"
            android:value="GlideModule" />

    </application>

</manifest>
